{{#d-modal-body class="add-event-modal" id="event-modal" title=title}}
  <div class="add-event-controls">
    <div class="control">
      {{input type='checkbox' checked=endEnabled}}
      <span>{{i18n 'add_event.end_enabled'}}</span>
    </div>
    <div class="control">
      {{input type='checkbox' checked=allDay}}
      <span>{{i18n 'add_event.all_day'}}</span>
    </div>
    {{#unless allDay}}
      <div class="control">
        {{combo-box value=timezone valueAttribute="value" content=timezones none='add_event.no_timezone' filterable=true}}
      </div>
    {{/unless}}
  </div>
  <div class="start-card date-time-card">
    <span class="modal-sub-title">
      {{i18n "add_event.event_start"}}
    </span>
    {{input-tip validation=startDateTimeValidation}}
	  <div class="modal-date-time-set">
      <div class="modal-date-area">
        <label class="input-group-label">
          {{i18n "add_event.event_date"}}
        </label>
        {{date-picker value=startDate containerId="date-container-start"}}
      </div>
      {{#unless allDay}}
        <div class="modal-time-area">
          <label class="input-group-label">
            {{i18n "add_event.event_time"}}
          </label>
          <input type="text" id="start-time-picker"/>
        </div>
      {{/unless}}
    </div>
    <div id="date-container-start"/>
  </div>
  {{#if endEnabled}}
    <div class="end-card date-time-card">
      <span class="modal-sub-title">
        {{i18n "add_event.event_end"}}
      </span>
      {{input-tip validation=scheduleDateTimeValidation}}
  	  <div class="modal-date-time-set">
        <div class="modal-date-area">
          <label class="input-group-label">
            {{i18n "add_event.event_date"}}
          </label>
          {{date-picker value=endDate containerId="date-container-end"}}
        </div>
        {{#unless allDay}}
          <div class="modal-time-area">
            <label class="input-group-label">
              {{i18n "add_event.event_time"}}
            </label>
            <input type="text" id="end-time-picker"/>
          </div>
        {{/unless}}
      </div>
      <div id="date-container-end"/>
    </div>
  {{/if}}
  {{#if siteSettings.events_rsvp}}
    <div class="rsvp">
      {{input type='checkbox' checked=rsvpEnabled}}
      <span>{{i18n 'add_event.rsvp_enabled'}}</span>

      {{#if rsvpEnabled}}
        <div class="going-max">
          <span>{{i18n 'add_event.going_max'}}</span>
          {{input type='number' value=goingMax}}
        </div>

        <div class="going-list">
          <span>{{i18n 'add_event.going'}}</span>
          {{user-selector usernames=usersGoing class="user-selector" placeholderKey="composer.users_placeholder"}}
        </div>
      {{/if}}
    </div>
  {{/if}}
{{/d-modal-body}}

<div class="modal-footer">
  {{d-button action="addEvent" class="btn-primary" label="add_event.event_add" disabled=notReady}}
  <a class="clear" {{action 'clear'}}>{{i18n 'add_event.event_clear'}}</a>
</div>
