<DModalBody @class="connection-filters" @title="admin.events.connection.filters.title">
  <ul class="filters">
    {{#each model.connection.filters as |filter|}}
      <li class="filter">
        {{combo-box
          value=filter.query_column
          content=queryColumns
          onChange=(action (mut filter.query_column))
          class="filter-column"
          options=(hash
            none="admin.events.connection.filter.query_column.select"
          )}}
        {{input
          value=filter.query_value
          placeholder=(i18n "admin.events.connection.filter.query_value")
          class="filter-value"}}
        {{d-button
          action=(action "removeFilter" filter)
          icon="times"
          title="admin.events.connection.filter.remove.title"}}
      </li>
    {{/each}}
  </ul>
  {{d-button
    action=(action "addFilter")
    icon="plus"
    class="add-filter"
    label="admin.events.connection.filters.add.label"
    title="admin.events.connection.filters.add.title"}}
</DModalBody>

<div class="modal-footer">
  <DButton @class="btn-primary" @action={{action "closeModal"}} @label="admin.events.connection.filters.done.label" @title="admin.events.connection.filters.done.title" />
</div>
