<EventsHeader @viewName={{viewName}} @message={{message}}>
  <DButton
    @action={{action "openDelete"}}
    @label="admin.events.event.delete.label"
    @title="admin.events.event.delete.title"
    @disabled={{deleteDisabled}}
    class="btn-danger"
    @icon="trash-alt"
  />
</EventsHeader>

<div class="admin-events-container">
  {{#if hasEvents}}
    <EventsEventTable
      @events={{events}}
      @page={{page}}
      @order={{order}}
      @asc={{asc}}
      @modifySelection={{action "modifySelection"}}
      @selectAll={{selectAll}}
    />
  {{else}}
    <p>{{i18n "admin.events.event.none"}}</p>
  {{/if}}
</div>