<EventsHeader @viewName={{viewName}} @message={{message}}>
  <DButton
    @id="add-source"
    @action={{action "addSource"}}
    @label="admin.events.source.add.label"
    @title="admin.events.source.add.title"
    @icon="plus"
    @disabled={{addDisabled}}
  />
</EventsHeader>

<div class="admin-events-container">
  {{#if hasSources}}
    <table>
      <thead>
        <tr>
          <th>{{I18n "admin.events.source.label"}}</th>
          <th>{{I18n "admin.events.provider.label"}}</th>
          <th class="action-column">{{I18n "admin.events.actions"}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each sources as |source|}}
          <EventsSourceRow
            @source={{source}}
            @sourceOptionFields={{sourceOptionFields}}
            @importPeriods={{importPeriods}}
            @providers={{providers}}
            @authTypes={{authTypes}}
            @removeSource={{action "removeSource"}}
            @setMessage={{action "setMessage"}}
          />
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <p>{{i18n "admin.events.source.none"}}</p>
  {{/if}}
</div>