<EventsHeader @viewName={{this.viewName}} @message={{this.message}}>
  <DButton
    @id="add-source"
    @action={{action "addSource"}}
    @label="admin.events.source.add.label"
    @title="admin.events.source.add.title"
    @icon="plus"
    @disabled={{this.addDisabled}}
  />
</EventsHeader>

<div class="admin-events-container">
  {{#if this.hasSources}}
    <table>
      <thead>
        <tr>
          <th>{{I18n "admin.events.source.topics.label"}}</th>
          <th>{{I18n "admin.events.source.label"}}</th>
          <th class="action-column">{{I18n "admin.events.actions"}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each this.sources as |source|}}
          <EventsSourceRow
            @source={{source}}
            @sourceOptionFields={{this.sourceOptionFields}}
            @importPeriods={{this.importPeriods}}
            @providers={{this.providers}}
            @authTypes={{this.authTypes}}
            @removeSource={{action "removeSource"}}
            @setMessage={{action "setMessage"}}
          />
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <p>{{i18n "admin.events.source.none"}}</p>
  {{/if}}
</div>