<EventsHeader @viewName={{viewName}} @message={{message}}>
  <DButton
    @id="add-connection"
    @action={{action "addConnection"}}
    @label="admin.events.connection.add.label"
    @title="admin.events.connection.add.title"
    @icon="plus"
  />
</EventsHeader>

<div class="admin-events-container">
  {{#if hasConnections}}
    <table>
      <thead>
        <tr>
          <th>{{I18n "admin.events.connection.source.label"}}</th>
          <th>{{I18n "admin.events.connection.client.label"}}</th>
          <th>{{I18n "admin.events.connection.category"}}</th>
          <th>{{I18n "admin.events.connection.user"}}</th>
          <th>{{I18n "admin.events.filters.label"}}</th>
          <th class="action-column">{{I18n "admin.events.actions"}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each connections as |connection|}}
          <EventsConnectionRow
            @connection={{connection}}
            @sources={{sources}}
            @clients={{clients}}
            @removeConnection={{action "removeConnection"}}
            @setMessage={{action "setMessage"}}
          />
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <p>{{i18n "admin.events.connection.none"}}</p>
  {{/if}}
</div>