<div class="admin-events-controls">
  <nav>
    <ul class="nav nav-pills">
      <li class="navigation-item connected">
        <LinkTo
          @route="adminPlugins.events.event"
          @query={{hash filter="connected"}}
          title={{i18n "admin.events.event.connected.title"}}
          class="navigation-link"
        >
          {{i18n
            "admin.events.event.connected.label_with_count"
            count=withTopicsCount
          }}
        </LinkTo>
      </li>
      <li class="navigation-item unconnected">
        <LinkTo
          @route="adminPlugins.events.event"
          @query={{hash filter="unconnected"}}
          title={{i18n "admin.events.event.unconnected.title"}}
          class="navigation-link"
        >
          {{i18n
            "admin.events.event.unconnected.label_with_count"
            count=withoutTopicsCount
          }}
        </LinkTo>
      </li>
      <li class="navigation-item connections">
        <LinkTo
          @route="adminPlugins.events.event.connection"
          title={{i18n "admin.events.connection.title"}}
          class="navigation-link"
        >
          {{i18n "admin.events.connection.title"}}
        </LinkTo>
      </li>
    </ul>
  </nav>

  <div class="buttons">
    {{#if connectionRoute}}
      <DButton
        @id="add-connection"
        @action={{action "addConnection"}}
        @label="admin.events.connection.add.label"
        @title="admin.events.connection.add.title"
        @icon="plus"
        @disabled={{addDisabled}}
      />
    {{/if}}
    {{#if unconnectedRoute}}
      <DButton
        @id="connect-topic"
        @action={{action "openConnectTopic"}}
        @label="admin.events.event.connect.title"
        @title="admin.events.event.connect.title"
        @icon="plus"
        @disabled={{connectTopicDisabled}}
      />
    {{/if}}
    {{#if eventsRoute}}
      <DButton
        @action={{action "openDelete"}}
        @label="admin.events.event.delete.label"
        @title="admin.events.event.delete.title"
        @disabled={{deleteDisabled}}
        class="btn-danger"
        @icon="trash-alt"
      />
    {{/if}}
  </div>
</div>

<EventsMessage @viewName={{viewName}} @message={{message}} />

<div class="admin-events-container">
  {{#if eventsRoute}}
    {{#if hasEvents}}
      <EventsEventTable
        @events={{events}}
        @providers={{providers}}
        @page={{page}}
        @order={{order}}
        @filter={{filter}}
        @asc={{asc}}
        @modifySelection={{action "modifySelection"}}
        @selectAll={{selectAll}}
      />
    {{else}}
      <p>{{noneLabel}}</p>
    {{/if}}
  {{else}}
    {{outlet}}
  {{/if}}
</div>