<EventsHeader @viewName={{viewName}} @message={{message}} />

<div class="admin-events-container">
  {{#if hasProviders}}
    <table>
      <thead>
        <tr>
          <th>{{I18n "admin.events.provider.label"}}</th>
          <th>{{i18n "admin.events.provider.authentication.label"}}</th>
          <th class="action-column">{{I18n "admin.events.actions"}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each providers as |provider|}}
          <EventsProviderRow
            @provider={{provider}}
            @removeProvider={{action "removeProvider"}}
          />
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <p>{{i18n "admin.events.provider.none"}}</p>
  {{/if}}
</div>