<AdminNav>
  {{nav-item route="admin.events.connection" label="admin.events.connection.title"}}
  {{nav-item route="admin.events.source" label="admin.events.source.title"}}
  {{nav-item route="admin.events.provider" label="admin.events.provider.title"}}
  {{nav-item route="admin.events.event" label="admin.events.event.title"}}
  {{nav-item route="admin.events.log" label="admin.events.log.title"}}

  <li class="settings">
    <DButton @class="btn-default" @action={{route-action "showSettings"}} @actionParam={{plugin}} @icon="cog" @label="admin.plugins.change_settings_short" />
  </li>
</AdminNav>

<div class="admin-container">
  {{outlet}}
</div>
