<EventsHeader @viewName={{viewName}} @message={{message}}>
  <DButton
    @id="add-provider"
    @action={{action "addProvider"}}
    @label="admin.events.provider.add.label"
    @title="admin.events.provider.add.title"
    @icon="plus"
    @disabled={{addDisabled}}
  />
</EventsHeader>

<div class="admin-events-container">
  {{#if hasProviders}}
    <table>
      <thead>
        <tr>
          <th>{{I18n "admin.events.provider.name.label"}}</th>
          <th>{{i18n "admin.events.provider.provider_type.label"}}</th>
          <th>{{I18n "admin.events.provider.credentials.label"}}</th>
          <th>{{i18n "admin.events.provider.status.label"}}</th>
          <th class="action-column">{{I18n "admin.events.actions"}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each providers as |provider|}}
          <EventsProviderRow
            @provider={{provider}}
            @removeProvider={{action "removeProvider"}}
          />
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <p>{{i18n "admin.events.provider.none"}}</p>
  {{/if}}
</div>