<button {{action "expand"}} class='dropdown-header btn btn-small btn-default'>
  {{d-icon 'calendar-plus-o'}}
  {{#unless site.mobileView}}
    {{i18n 'add_to_calendar.label'}}
  {{/unless}}
</button>
<section class="{{if expanded 'show'}} dropdown-menu chooser">
  <ul>
    {{#each calendarUris as |c|}}
      <li><a href="{{c.uri}}" target="_blank">{{i18n (concat 'add_to_calendar.' c.label)}}</a></li>
    {{/each}}
  </ul>
</section>
