<a href {{action "expand"}} class='dropdown-header btn btn-default'
                            aria-label={{i18n 'add_to_calendar.label'}}
                            aria-expanded={{expanded}}>
  {{i18n 'add_to_calendar.label'}}
</a>
<section class="{{if expanded 'show'}} dropdown-menu chooser">
  <ul>
    {{#each calendarUris as |c|}}
      <li><a href="{{c.uri}}" target="_blank">{{i18n (concat 'add_to_calendar.' c.label)}}</a></li>
    {{/each}}
  </ul>
</section>
