<div class="header">
  <div class="navigation">
    {{d-button label=todayLabel action='today' icon='calendar'}}
    {{d-button icon='chevron-left' action='monthPrevious'}}
    {{d-button icon='chevron-right' action='monthNext'}}
    {{combo-box
      content=months
      value=month
      class='month-dropdown'}}
    {{combo-box
      content=years
      value=year
      class='year-dropdown'}}
  </div>
  {{#if showSubscription}}
    {{events-calendar-subscription
      category=category
      userApiKeys=userApiKeys
      options=(hash
        showFullTitle=showFullTitle
        icon="rss"
        none='events_calendar.subscribe'
      )}}
  {{/if}}
</div>
{{events-calendar-body 
  days=days
  topics=topics
  currentMonth=currentMonth
  currentDate=currentDate
  selectDate='selectDate'
  canSelectDate=canSelectDate
  showEvents=showEvents
  responsive=responsive}}
{{#if eventsBelow}}
  <div class="events-below">
    {{events-calendar-events events=dateEvents responsive=responsive}}
  </div>
{{/if}}
