{{#each events as |e|}}
  <li class="{{e.classes}}" {{action 'goToTopic' e.topicId}} style="{{e.listStyle}}">
    {{#unless e.allDay}}
      <span style='{{e.dotStyle}}'>{{d-icon 'circle'}}</span>
    {{/unless}}
    {{#if e.time}}
      <span class="time">{{e.time}}</span>
    {{/if}}
    {{#if e.title}}
      <span class="title" style="{{e.titleStyle}}">{{replace-emoji e.title}}</span>
    {{/if}}
  </li>
{{/each}}
