{{#if canGo}}
  <button class='btn btn-small btn-text {{goingClasses}}' {{action 'going'}}>
    {{#if goingSaving}}
      {{loading-spinner size='small'}}
    {{else}}
      {{d-icon 'check'}}
    {{/if}}
    <span class="d-button-label">
      {{i18n 'event_rsvp.going.label'}}
    </span>
  </button>
{{/if}}
<div class="event-rsvp-details">
  {{#if hasGuests}}
    {{#if currentUser}}
      <a {{action 'openModal'}}>
        <span>{{goingTotal}}</span>
        <span>{{i18n 'event_rsvp.going.label'}}</span>
      </a>
    {{else}}
      <span>{{goingTotal}}</span>
      <span>{{i18n 'event_rsvp.going.label'}}</span>
    {{/if}}
  {{/if}}
  {{#if goingMessage}}
    <span class="going-message">
      {{goingMessage}}
    </span>
  {{/if}}
</div>
