<div class="header">
  <div class="navigation">
    {{d-button label=todayLabel action=(action "today") icon='calendar'}}
    {{d-button icon='chevron-left' action=(action "monthPrevious")}}
    {{d-button icon='chevron-right' action=(action "monthNext")}}
    {{combo-box
      content=months
      value=month
      class='month-dropdown'
      onChange=(action (mut month))}}
    {{combo-box
      content=years
      value=year
      class='year-dropdown'
      onChange=(action (mut year))}}
  </div>
  {{#if showSubscription}}
    {{events-calendar-subscription
      category=category
      userApiKeys=userApiKeys
      onChange=(action "changeSubscription")
      options=(hash
        showFullTitle=showFullTitle
        icon="rss"
        none='events_calendar.subscribe'
      )}}
      {{#if showNotice}}
        <ul class="events-webcal-notices">
          <li>{{html-safe (i18n 'webcal_preferences.calendar_notice' link="/my/preferences/webcal-keys")}}</li>
          <li>{{html-safe (i18n 'webcal_preferences.calendar_usage' doc="https://thepavilion.io/t/subscribing-to-events-ical-and-rss-feeds/2883")}}</li>
        </ul>
      {{/if}}
  {{/if}}
</div>
{{events-calendar-body
  days=days
  topics=topics
  currentMonth=currentMonth
  currentDate=currentDate
  selectDate=(action 'selectDate')
  canSelectDate=canSelectDate
  showEvents=showEvents
  responsive=responsive}}
{{#if eventsBelow}}
  <div class="events-below">
    {{events-calendar-events events=dateEvents responsive=responsive}}
  </div>
{{/if}}
