<h3>{{i18n 'category.events_setting_heading'}}</h3>
<section class='field'>
  <label>
    {{input type="checkbox" checked=eventsEnabled}}
    {{i18n 'category.enable_events'}}
  </label>
</section>

<section class='field min-trust'>
  <label>
    {{i18n 'category.events_min_trust_to_create'}}
    {{input type="number" value=category.custom_fields.events_min_trust_to_create}}
  </label>
</section>

<section class='field'>
  <label>
    {{input type="checkbox" checked=eventsAgendaEnabled}}
    {{i18n 'category.enable_events_agenda'}}
  </label>
</section>

<section class='field'>
  <label>
    {{input type="checkbox" checked=eventsCalendarEnabled}}
    {{i18n 'category.enable_events_calendar'}}
  </label>
</section>

<section class='field'>
  <label>
    {{input type="checkbox" checked=eventsEventLabelNoText}}
    {{i18n 'category.events_event_label_no_text'}}
  </label>
</section>

<section class='field'>
  <label>
    {{input type="checkbox" checked=eventsRequired}}
    {{i18n 'category.require_event'}}
  </label>
</section>
