{{#unless model.editingTopic}}
  {{#if model.event}}
    <div class="topic-event-label">
      {{event-label model.event topic="true"}}
      {{#if siteSettings.events_add_to_calendar}}
        <AddToCalendar @topic={{model}} />
      {{/if}}
    </div>
    {{#if showRsvp}}
      <EventRsvp @topic={{model}} />
    {{/if}}
    {{#if model.event_record.video_url}}
      <a
        href={{model.event_record.video_url}}
        target="_blank"
        role="button"
        class="btn btn-primary"
        rel="noopener noreferrer"
      >
        {{d-icon "video"}}
        <span>{{i18n "topic.event.video.label"}}</span>
      </a>
    {{/if}}
  {{/if}}
{{/unless}}