<td class="name-column">
  <Input
    @value={{provider.name}}
    placeholder={{i18n "admin.events.provider.name.placeholder"}}
    class="provider-name"
  />
</td>

<td class="provider-type-column">
  <EventsSubscriptionSelector
    @value={{provider.provider_type}}
    @feature="provider"
    @i18nKey="provider_type"
    @onChange={{action (mut provider.provider_type)}}
    class="provider-type"
    options={{hash none="admin.events.provider.provider_type.select"}}
  />
</td>

<td class="credentials-column">
  {{#if noCredentials}}
    {{i18n "admin.events.provider.credentials.none"}}
  {{else}}
    <DButton
      @action={{action "openCredentials"}}
      @label="admin.events.provider.credentials.label"
      @title="admin.events.provider.credentials.label"
      @icon="id-card"
      class="open-credentials-modal"
    />
  {{/if}}
</td>

<td class="status-column">
  <div class="events-provider-status">
    {{#if noCredentials}}
      {{#if provider.stored}}
        <span
          class="status ready"
          title={{i18n "admin.events.provider.status.ready.title"}}
        ></span>
        <span>{{i18n "admin.events.provider.status.ready.label"}}</span>
      {{else}}
        <span
          class="status not-ready"
          title={{i18n "admin.events.provider.status.not_ready.title"}}
        ></span>
        <span>{{i18n "admin.events.provider.status.not_ready.label"}}</span>
      {{/if}}
    {{else}}
      {{#if provider.authenticated}}
        <span
          class="status authenticated"
          title={{i18n "admin.events.provider.status.authenticated.title"}}
        ></span>
        <span>{{i18n "admin.events.provider.status.authenticated.label"}}</span>
      {{else}}
        <span
          class="status not-authenticated"
          title={{i18n "admin.events.provider.status.not_authenticated.title"}}
        ></span>
        <span>{{i18n
            "admin.events.provider.status.not_authenticated.label"
          }}</span>
      {{/if}}
    {{/if}}
  </div>
</td>

<td class="action-column">
  <ConditionalLoadingSpinner @condition={{saving}} @size="small" />
  <DButton
    @action={{action "saveProvider"}}
    @icon="save"
    @class={{this.saveClass}}
    @title="admin.events.provider.save.title"
    @disabled={{this.saveDisabled}}
  />
  <DButton
    @action={{removeProvider}}
    @actionParam={{provider}}
    @disabled={{removeDisabled}}
    @icon="trash-alt"
    @title="admin.events.provider.remove.title"
    class="remove-provider btn-danger"
  />
  <DButton
    @action={{action "authenticateProvider"}}
    @icon="fingerprint"
    @title="admin.events.provider.authenticate.title"
    @disabled={{authenticateDisabled}}
    class={{authenticateClass}}
  />
</td>