{{#if currentUser}}
  <DButton
    @action={{this.openModal}}
    @title="event_rsvp.attendees.title"
    @label="event_rsvp.attendees.title"
    @icon="users"
    class="btn-event-attendees"
  />
{{/if}}
{{#if canGo}}
  <button
    class="btn btn-event-rsvp {{goingClasses}}"
    {{action "going"}}
    type="button"
  >
    {{#if goingSaving}}
      {{loading-spinner size="small"}}
    {{else}}
      {{d-icon "check"}}
    {{/if}}
    <span class="d-button-label">
      {{this.goingLabel}}
    </span>
  </button>
{{/if}}