<div class="event-controls">
  <div class="control">
    <input
      type="checkbox"
      checked={{endEnabled}}
      onclick={{action "toggleEndEnabled" value="target.checked"}}
    />
    <span>{{i18n "add_event.end_enabled"}}</span>
  </div>

  <div class="control">
    <input
      type="checkbox"
      checked={{allDay}}
      onclick={{action "toggleAllDay" value="target.checked"}}
    />
    <span>{{i18n "add_event.all_day"}}</span>
  </div>

  {{#unless allDay}}
    <div class="control full-width">
      <ComboBox
        @id="add-event-select-timezone"
        @value={{timezone}}
        @valueProperty="value"
        @onChange={{action (mut timezone)}}
        @content={{timezones}}
        @options={{hash filterable=true none="add_event.no_timezone"}}
      />
    </div>
  {{/unless}}
</div>

<div class="datetime-controls">
  <div class="start-card date-time-card">
    <span class="sub-title">
      {{i18n "add_event.event_start"}}
    </span>

    <InputTip @validation={{startDateTimeValidation}} />

    <div class="date-time-set">
      <div class="date-area">
        <label class="input-group-label">
          {{i18n "add_event.event_date"}}
        </label>

        <EventsDatePicker
          @value={{startDate}}
          @containerId="date-container-start"
        />
      </div>

      {{#unless allDay}}
        <div class="time-area">
          <label class="input-group-label">
            {{i18n "add_event.event_time"}}
          </label>
          <TimeInput
            @date={{this.startTime}}
            @onChange={{action "onChangeStartTime"}}
          />
        </div>
      {{/unless}}
    </div>

    <div id="date-container-start" />
  </div>

  <div class="end-card date-time-card {{endClass}}">
    <span class="sub-title">
      {{i18n "add_event.event_end"}}
    </span>

    <InputTip @validation={{scheduleDateTimeValidation}} />

    <div class="date-time-set">
      <div class="date-area">
        <label class="input-group-label">
          {{i18n "add_event.event_date"}}
        </label>

        <EventsDatePicker
          @value={{endDate}}
          @containerId="date-container-end"
        />
      </div>

      {{#unless allDay}}
        <div class="time-area">
          <label class="input-group-label">
            {{i18n "add_event.event_time"}}
          </label>
          <TimeInput
            @date={{this.endTime}}
            @onChange={{action "onChangeEndTime"}}
          />
        </div>
      {{/unless}}
    </div>

    <div id="date-container-end" />
  </div>
</div>

{{#if siteSettings.events_rsvp}}
  <div class="rsvp-controls">
    <div class="control">
      {{input type="checkbox" checked=rsvpEnabled}}
      <span>{{i18n "add_event.rsvp_enabled"}}</span>
    </div>

    {{#if rsvpEnabled}}
      <div class="rsvp-container">
        <div class="control">
          <span>{{i18n "add_event.going_max"}}</span>
          {{input type="number" value=goingMax}}
        </div>

        <div class="control full-width">
          <span>{{i18n "add_event.going"}}</span>
          <EmailGroupUserChooser
            @value={{usersGoing}}
            @onChange={{action (mut usersGoing)}}
            class="user-selector"
            @options={{hash filterPlaceholder="composer.users_placeholder"}}
          />
        </div>
      </div>
    {{/if}}
  </div>
{{/if}}