<td class="start-time">
  {{raw-date event.start_time}}
</td>

<td class="name">
  {{#if showTopics}}
    {{#each event.topic_ids as |topic_id|}}
      <a href={{concat "/t/" topic_id}}>{{event.name}}</a>
    {{/each}}
  {{else}}
    {{event.name}}
  {{/if}}
</td>

<td class="tags">
  {{#if providerLabel}}
    <a
      class="event-tag provider"
      href={{concat "/admin/plugins/events/provider"}}
    >
      <span>{{providerLabel}}</span>
    </a>
  {{/if}}
</td>

<td class="select-event">
  <Input @type="checkbox" @checked={{this.selected}} />
</td>