<a class="topic-link" href {{on "click" this.goToTopic}}>
  {{cookedTitle}}
</a>

<a class="close" href {{on "click" this.close}}>
  {{d-icon "times"}}
</a>

<div class="topic-meta">
  {{category-link topic.category}}
  {{discourse-tags topic mode="list"}}
</div>

<a href class="topic-event" {{on "click" this.goToTopic}}>
  {{event-label topic.event}}
</a>

<a href class="topic-excerpt" {{on "click" this.goToTopic}}>
  {{cookedExcerpt}}
</a>