<td>
  <label>{{I18n "admin.events.provider.name.label"}}</label>
  <Input
    @value={{provider.name}}
    placeholder={{i18n "admin.events.provider.name.placeholder"}}
    class="provider-name"
  />
  <label>{{i18n "admin.events.provider.provider_type.label"}}</label>
  <EventsSubscriptionSelector
    @value={{provider.provider_type}}
    @feature="provider"
    @i18nKey="provider_type"
    @onChange={{action (mut provider.provider_type)}}
    class="provider-type"
    options={{hash none="admin.events.provider.provider_type.select"}}
  />
</td>

<td>
  {{#if hasCredentials}}
    <EventsProviderCredentials @provider={{provider}} />
  {{/if}}
</td>

<td class="action-column">
  <ConditionalLoadingSpinner @condition={{saving}} @size="small" />
  <DButton
    @action={{action "saveProvider"}}
    @icon="save"
    @class={{this.saveClass}}
    @title="admin.events.provider.save.title"
    @label="admin.events.provider.save.label"
    @disabled={{this.saveDisabled}}
  />
  <DButton
    @action={{removeProvider}}
    @actionParam={{provider}}
    @disabled={{removeDisabled}}
    @icon="trash-alt"
    @title="admin.events.provider.remove.title"
    @label="admin.events.provider.remove.label"
    class="remove-provider btn-danger"
  />
  {{#if showProviderStatus}}
    <EventsProviderStatus @status={{providerStatus}} />
  {{else}}
    <DButton
      @action={{action "authenticateProvider"}}
      @icon="fingerprint"
      @title="admin.events.provider.authenticate.title"
      @label="admin.events.provider.authenticate.label"
      @disabled={{authenticateDisabled}}
      class={{authenticateClass}}
    />
  {{/if}}
</td>