<div class="directory-table__cell start-time">
  {{raw-date this.event.start_time}}
</div>

<div class="directory-table__cell name">
  {{#if this.showTopics}}
    {{#each this.event.topic_ids as |topic_id|}}
      <a
        {{on "click" (fn this.openTopic topic_id)}}
        target="_blank"
        rel="noopener noreferrer"
        role="button"
      >{{this.event.name}}</a>
    {{/each}}
  {{else}}
    {{this.event.name}}
  {{/if}}
</div>

<div class="directory-table__cell tags">
  <div class="event-tags">
    {{#if this.providerLabel}}
      <EventTag
        @label={{this.providerLabel}}
        @href="/admin/plugins/events/provider"
        @class="provider"
      />
    {{/if}}
    {{#if this.event.series_id}}
      <EventTag
        @label={{i18n "admin.events.event.series.label"}}
        @class="series"
      />
    {{/if}}
  </div>
</div>

<div class="directory-table__cell select-event">
  <Input @type="checkbox" @checked={{this.event.selected}} />
</div>