<td>
  <label>{{i18n "admin.events.connection.client.label"}}</label>
  <EventsSubscriptionSelector
    @value={{connection.client}}
    @feature="connection"
    @i18nKey="client"
    @onChange={{action (mut connection.client)}}
    class="connection-client"
    options={{hash none="admin.events.connection.client.select"}}
  />
  <label>{{i18n "admin.events.connection.topic.category"}}</label>
  <EventsCategoryChooser
    @value={{connection.category_id}}
    class="connection-category"
    @client={{connection.client}}
    onChange={{action (mut connection.category_id)}}
  />
  <label>{{i18n "admin.events.connection.topic.user"}}</label>
  <UserChooser
    @value={{connection.user.username}}
    @onChange={{action "updateUser"}}
    class="connection-user"
    @options={{hash maximum=1 excludeCurrentUser=false}}
  />
</td>

<td>
  <label>{{i18n "admin.events.connection.source.label"}}</label>
  <ComboBox
    @value={{connection.source_id}}
    @content={{sources}}
    @onChange={{action (mut connection.source_id)}}
    class="connection-source"
    options={{hash none="admin.events.connection.source.select"}}
  />
  <label>{{i18n "admin.events.connection.sync_type.label"}}</label>
  <ComboBox
    @value={{connection.auto_sync}}
    @content={{syncOptions}}
    @onChange={{action (mut connection.auto_sync)}}
    class="connection-sync-type"
  />
  <label>{{i18n "admin.events.filters.label"}}</label>
  <DButton
    @icon="filter"
    @label="admin.events.filters.set.label"
    @title="admin.events.filters.set.title"
    @action={{action "openFilters"}}
    class="show-filters"
  />
</td>

<td class="action-column">
  <DButton
    @icon="save"
    @label="admin.events.connection.save.label"
    @title="admin.events.connection.save.title"
    @action={{action "saveConnection"}}
    @disabled={{saveDisabled}}
    class={{saveClass}}
  />
  <DButton
    @action={{removeConnection}}
    @actionParam={{connection}}
    @disabled={{removeDisabled}}
    @icon="trash-alt"
    @label="admin.events.connection.remove.label"
    @title="admin.events.connection.remove.title"
    class="btn-danger"
  />
  <DButton
    @action={{action "syncConnection"}}
    @icon="sync"
    @label="admin.events.connection.sync.label"
    @title="admin.events.connection.sync.title"
    class={{syncClass}}
    @disabled={{syncDisabled}}
  />
</td>