<td>
  <label>{{i18n "admin.events.source.name.label"}}</label>
  <Input
    @value={{source.name}}
    placeholder={{i18n "admin.events.source.name.placeholder"}}
    class="small source-name"
  />
  <label>{{i18n "admin.events.source.sync_type.label"}}</label>
  <EventsSubscriptionSelector
    @value={{source.sync_type}}
    @feature="source"
    @i18nKey="sync_type"
    @onChange={{action (mut source.sync_type)}}
    class="source-sync-type"
    options={{hash none="admin.events.source.sync_type.select"}}
  />
  <label>{{i18n "admin.events.source.import_period.label"}}</label>
  <ComboBox
    @value={{source.import_period}}
    @content={{importPeriods}}
    @onChange={{action (mut source.import_period)}}
    @disabled={{importPeriodDisabled}}
    class="source-import-period"
  />
</td>

<td>
  <label>{{i18n "admin.events.source.provider.label"}}</label>
  <ComboBox
    @value={{source.provider_id}}
    @content={{providers}}
    @onChange={{action "updateProvider"}}
    class="source-provider"
    options={{hash none="admin.events.source.provider.select"}}
  />
  <label>{{i18n "admin.events.source.source_options.label"}}</label>
  <DButton
    @action={{action "openSourceOptions"}}
    @label="admin.events.source.source_options.button.label"
    @title="admin.events.source.source_options.button.title"
    @icon="cog"
    @disabled={{sourceOptionsDisabled}}
    class="open-source-options-modal"
  />
  <label>{{i18n "admin.events.source.filters.label"}}</label>
  <DButton
    @icon="filter"
    @label="admin.events.source.filters.button.label"
    @title="admin.events.source.filters.button.title"
    @action={{action "openFilters"}}
    class="show-filters"
  />
</td>

<td class="action-column">
  <ConditionalLoadingSpinner @condition={{saving}} @size="small" />
  <DButton
    @action={{action "saveSource"}}
    @icon="save"
    @class={{this.saveClass}}
    @title="admin.events.source.save.title"
    @label="admin.events.source.save.label"
    @disabled={{this.saveDisabled}}
  />
  <DButton
    @action={{removeSource}}
    @actionParam={{source}}
    @disabled={{removeDisabled}}
    @icon="trash-alt"
    @title="admin.events.source.remove.title"
    @label="admin.events.source.remove.label"
    class="remove-source btn-danger"
  />
  <DButton
    @action={{action "importSource"}}
    @icon="download"
    @title="admin.events.source.import.title"
    @label="admin.events.source.import.label"
    class={{importClass}}
    @disabled={{importDisabled}}
  />
</td>