{{body-class "calendar"}}

<div class="header">
  <div class="events-calendar-navigation">
    <DButton
      @label={{this.todayLabel}}
      @action={{action "today"}}
      @icon="far-calendar"
    />
    <DButton @icon="chevron-left" @action={{action "monthPrevious"}} />
    <DButton @icon="chevron-right" @action={{action "monthNext"}} />
    <ComboBox
      @content={{this.months}}
      @value={{this.month}}
      class="month-dropdown"
      @onChange={{action (mut this.month)}}
    />
    <ComboBox
      @content={{this.years}}
      @value={{this.year}}
      class="year-dropdown"
      @onChange={{action (mut this.year)}}
    />
  </div>
  {{#if this.showSubscription}}
    <div class="events-calendar-subscription-links">
      {{#if this.showNotice}}
        <DButton
          @href="/my/preferences/webcal-keys"
          @title="webcal_preferences.calendar_notice"
          @icon="key"
        />
      {{/if}}
      <DButton
        @href={{this.webcalDocumentationURL}}
        @title="webcal_preferences.calendar_usage"
        @icon="question-circle"
      />
      <EventsCalendarSubscription
        @category={{this.category}}
        @userApiKeys={{this.userApiKeys}}
        @onChange={{action "changeSubscription"}}
        @options={{hash
          showFullTitle=this.showFullTitle
          icon="rss"
          none="events_calendar.subscribe"
        }}
      />
    </div>
  {{/if}}
</div>
<EventsCalendarBody
  @days={{this.days}}
  @topics={{this.topics}}
  @currentMonth={{this.currentMonth}}
  @currentDate={{this.currentDate}}
  @selectDate={{action "selectDate"}}
  @canSelectDate={{this.anSelectDate}}
  @showEvents={{this.showEvents}}
  @responsive={{this.responsive}}
/>
{{#if this.eventsBelow}}
  <div class="events-below">
    <ul class="events-calendar-events">
      {{#each this.dateEvents as |event|}}
        <li><EventsCalendarCard @event={{event}} /></li>
      {{/each}}
    </ul>
  </div>
{{/if}}