<div class="events-provider-credentials">
  {{#if this.showToken}}
    <div class="control-group">
      <label class="control-label">
        {{i18n "admin.events.provider.credentials.token"}}
      </label>
      <div class="provider-credentials-secret">
        {{#if this.hideCredentials}}
          <Input
            @type="password"
            @value={{this.provider.token}}
            class="token"
            disabled={{this.disabled}}
          />
        {{else}}
          <Input @type="text" @value={{this.provider.token}} class="token" />
        {{/if}}
        <DButton
          @action={{action "toggleHideCredentials"}}
          class="toggle-secret-visibility"
          @icon="far-eye-slash"
          @disabled={{this.disabled}}
        />
      </div>
    </div>
  {{/if}}

  {{#if this.showClientCredentials}}
    <div class="control-group">
      <label class="control-label">
        {{i18n "admin.events.provider.credentials.client_id"}}
      </label>
      <Input
        @type="text"
        @value={{this.provider.client_id}}
        class="client-id"
        disabled={{this.disabled}}
      />
    </div>

    <div class="control-group">
      <label class="control-label">
        {{i18n "admin.events.provider.credentials.client_secret"}}
      </label>
      <div class="provider-credentials-secret">
        {{#if this.hideCredentials}}
          <Input
            @type="password"
            @value={{this.provider.client_secret}}
            class="client-secret"
            disabled={{this.disabled}}
          />
        {{else}}
          <Input
            @type="text"
            @value={{this.provider.client_secret}}
            class="client-secret"
            placeholder={{i18n
              "admin.events.provider.credentials.client_secret"
            }}
            disabled={{this.disabled}}
          />
        {{/if}}
        <DButton
          @action={{action "toggleHideCredentials"}}
          class="toggle-secret-visibility"
          @icon="far-eye-slash"
          @disabled={{this.disabled}}
        />
      </div>
    </div>
  {{/if}}
</div>