<td>
  <div class="events-provider-metadata">
    <div class="events-provider-logo">
      <img
        src={{concat
          "/plugins/discourse-events/logos/"
          this.provider.provider_type
          ".svg"
        }}
      />
    </div>
    <div class="events-provider-details">
      <label class="events-provider-label">
        {{i18n
          (concat
            "admin.events.provider.provider_type."
            this.provider.provider_type
            ".label"
          )
        }}
      </label>
      <div class="events-provider-description">
        {{i18n
          (concat
            "admin.events.provider.provider_type."
            this.provider.provider_type
            ".description"
          )
        }}
      </div>
      <div class="events-subscription-tags">
        {{#each this.supportedSubscriptions as |subscription|}}
          <EventsSubscriptionTag @subscription={{subscription}} />
        {{/each}}
      </div>
    </div>
  </div>
</td>

<td class="events-provider-authentication">
  {{#if this.provider.hasCredentials}}
    <EventsProviderCredentials
      @provider={{this.provider}}
      @disabled={{this.provider.notInSubscription}}
    />
  {{else}}
    <label>{{i18n "admin.events.provider.authentication.none"}}</label>
  {{/if}}
</td>

<td class="action-column">
  {{#if this.showAuthenticate}}
    <DButton
      @action={{action "authenticateProvider"}}
      @icon="fingerprint"
      @title="admin.events.provider.authenticate.title"
      @label="admin.events.provider.authenticate.label"
      @disabled={{this.authenticateDisabled}}
      class={{this.authenticateClass}}
    />
  {{else if this.showUpgradeSubscription}}
    <DButton
      @action={{action "upgradeSubscription"}}
      @title="admin.events.subscription.upgrade.title"
      @label="admin.events.subscription.upgrade.label"
    />
  {{else}}
    <EventsProviderStatus @status={{this.provider.status}} />
  {{/if}}
  {{#if this.canSave}}
    <DButton
      @action={{action "saveProvider"}}
      @icon="floppy-disk"
      class={{this.saveClass}}
      @title="admin.events.provider.save.title"
      @label="admin.events.provider.save.label"
      @disabled={{this.saveDisabled}}
    />
  {{/if}}
</td>