<td class="start-time">
  {{raw-date event.start_time}}
</td>

<td class="source">
  {{#each event.sources as |source|}}
    {{source.name}}
  {{/each}}
</td>

<td class="name-or-topic">
  {{#if showTopics}}
    {{#each event.topics as |topic|}}
      <a href={{topic.url}}>{{topic.fancy_title}}</a>
    {{/each}}
  {{else}}
    {{event.name}}
  {{/if}}
</td>

<td class="select-event">
  <Input @type="checkbox" @checked={{this.selected}} />
</td>