<table class="grid">
  <thead>
    <tr>
      <TableHeaderToggle
        @tagName="th"
        @field="start_time"
        @labelKey="admin.events.event.start_time"
        @order={{order}}
        @asc={{asc}}
        @automatic={{true}}
        @class="start-time"
      />
      <TableHeaderToggle
        @tagName="th"
        @field="name"
        @labelKey="admin.events.event.name"
        @order={{order}}
        @asc={{asc}}
        @automatic={{true}}
      />
      <th></th>
      <th class="event-actions">
        <DButton
          @action={{action "toggleSelectAll"}}
          @title="admin.events.event.select_all"
        >
          <span class="events-selected">
            {{#if selectAll}}
              {{i18n
                "admin.events.event.selected_x"
                count=selectedEventIds.length
              }}
            {{else}}
              {{i18n "admin.events.event.select_all"}}
            {{/if}}
          </span>
          {{d-icon "check-square"}}
        </DButton>
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each events as |event|}}
      <EventsEventRow
        @event={{event}}
        @providers={{providers}}
        @modifySelection={{modifySelection}}
        @showTopics={{showTopics}}
      />
    {{/each}}
  </tbody>
</table>
<ConditionalLoadingSpinner @condition={{loading}} />