<td>
  <div class="events-provider-metadata">
    <div class="events-provider-logo">
      <img
        src={{concat
          "/plugins/discourse-events/logos/"
          provider.provider_type
          ".svg"
        }}
      />
    </div>
    <div class="events-provider-details">
      <label class="events-provider-label">
        {{i18n
          (concat
            "admin.events.provider.provider_type."
            provider.provider_type
            ".label"
          )
        }}
      </label>
      <div class="events-provider-description">
        {{i18n
          (concat
            "admin.events.provider.provider_type."
            provider.provider_type
            ".description"
          )
        }}
      </div>
      <div class="events-subscription-tags">
        {{#each supportedSubscriptions as |subscription|}}
          <EventsSubscriptionTag @subscription={{subscription}} />
        {{/each}}
      </div>
    </div>
  </div>
</td>

<td class="events-provider-authentication">
  {{#if hasCredentials}}
    <EventsProviderCredentials
      @provider={{provider}}
      @disabled={{notInSubscription}}
    />
  {{/if}}
</td>

<td class="action-column">
  <ConditionalLoadingSpinner @condition={{saving}} @size="small" />
  {{#if showAuthenticate}}
    <DButton
      @action={{action "authenticateProvider"}}
      @icon="fingerprint"
      @title="admin.events.provider.authenticate.title"
      @label="admin.events.provider.authenticate.label"
      @disabled={{authenticateDisabled}}
      class={{authenticateClass}}
    />
  {{else if showUpgradeSubscription}}
    <DButton
      @action={{action "upgradeSubscription"}}
      @title="admin.events.subscription.upgrade.title"
      @label="admin.events.subscription.upgrade.label"
    />
  {{else}}
    <EventsProviderStatus @status={{providerStatus}} />
  {{/if}}
  {{#if canSave}}
    <DButton
      @action={{action "saveProvider"}}
      @icon="save"
      @class={{this.saveClass}}
      @title="admin.events.provider.save.title"
      @label="admin.events.provider.save.label"
      @disabled={{this.saveDisabled}}
    />
  {{/if}}
</td>