<div class="events-provider-credentials">
  {{#if showToken}}
    <div class="control-group">
      <label class="control-label">
        {{i18n "admin.events.provider.credentials.token"}}
      </label>
      <div class="provider-credentials-secret">
        {{#if hideCredentials}}
          <Input @type="password" @value={{provider.token}} class="token" />
        {{else}}
          <Input @type="text" @value={{provider.token}} class="token" />
        {{/if}}
        <DButton
          @action={{action "toggleHideCredentials"}}
          class="toggle-secret-visibility"
          @icon="far-eye-slash"
        />
      </div>
    </div>
  {{/if}}

  {{#if showClientCredentials}}
    <div class="control-group">
      <label class="control-label">
        {{i18n "admin.events.provider.credentials.client_id"}}
      </label>
      <Input @type="text" @value={{provider.client_id}} class="client-id" />
    </div>

    <div class="control-group">
      <label class="control-label">
        {{i18n "admin.events.provider.credentials.client_secret"}}
      </label>
      <div class="provider-credentials-secret">
        {{#if hideCredentials}}
          <Input
            @type="password"
            @value={{provider.client_secret}}
            class="client-secret"
            placeholder={{i18n
              "admin.events.provider.credentials.client_secret"
            }}
          />
        {{else}}
          <Input
            @type="text"
            @value={{provider.client_secret}}
            class="client-secret"
            placeholder={{i18n
              "admin.events.provider.credentials.client_secret"
            }}
          />
        {{/if}}
        <DButton
          @action={{action "toggleHideCredentials"}}
          class="toggle-secret-visibility"
          @icon="far-eye-slash"
        />
      </div>
    </div>
  {{/if}}
</div>