<DModal
  class="events-provider-credentials-modal"
  @closeModal={{@closeModal}}
  @title={{i18n "admin.events.provider.credentials.label"}}
>
  <:body>
    {{#if showToken}}
      <div class="provider-credentials-secret">
        {{#if hideCredentials}}
          <Input
            @type="password"
            @value={{model.token}}
            class="token"
            placeholder={{i18n "admin.events.provider.credentials.token"}}
          />
        {{else}}
          <Input
            @type="text"
            @value={{model.token}}
            class="token"
            placeholder={{i18n "admin.events.provider.credentials.token"}}
          />
        {{/if}}
        <DButton
          @action={{action "toggleHideCredentials"}}
          class="toggle-secret-visibility"
          @icon="far-eye-slash"
        />
      </div>
    {{/if}}

    {{#if showClientCredentials}}
      <Input
        @type="text"
        @value={{model.client_id}}
        class="client-id"
        placeholder={{i18n "admin.events.provider.credentials.client_id"}}
      />

      <div class="provider-credentials-secret">
        {{#if hideCredentials}}
          <Input
            @type="password"
            @value={{model.client_secret}}
            class="client-secret"
            placeholder={{i18n
              "admin.events.provider.credentials.client_secret"
            }}
          />
        {{else}}
          <Input
            @type="text"
            @value={{model.client_secret}}
            class="client-secret"
            placeholder={{i18n
              "admin.events.provider.credentials.client_secret"
            }}
          />
        {{/if}}
        <DButton
          @action={{action "toggleHideCredentials"}}
          class="toggle-secret-visibility"
          @icon="far-eye-slash"
        />
      </div>
    {{/if}}
  </:body>
  <:footer>
    <DButton
      @class="btn-primary"
      @action={{@closeModal}}
      @label="admin.events.provider.credentials.done.label"
      @title="admin.events.provider.credentials.done.title"
    />
  </:footer>
</DModal>