<DModal
  class="events-source-options-modal"
  @closeModal={{@closeModal}}
  @title={{this.title}}
>
  <:body>
    {{#each this.sourceOptions as |option|}}
      <div class="control-group">
        <label class="control-label">
          {{i18n (concat "admin.events.source.source_options." option.name)}}
        </label>
        <Input
          class="source-option"
          @type={{option.type}}
          name={{option.name}}
          @value={{option.value}}
          placeholder={{option.name}}
          {{on "change" (action "updateSourceOptions" option.name)}}
        />
      </div>
    {{/each}}
  </:body>
  <:footer>
    <DButton
      @class="btn-primary"
      @action={{@closeModal}}
      @label="admin.events.source.source_options.done.label"
      @title="admin.events.source.source_options.done.title"
    />
  </:footer>
</DModal>