<DModal
  class="delete-event-modal"
  @title={{i18n "admin.events.event.delete.title"}}
  @closeModal={{@closeModal}}
  @flash={{this.flash}}
>
  <:body>
    <div class="delete-events-count">
      {{i18n
        "admin.events.event.delete.description_x"
        count=this.model.eventIds.length
      }}
    </div>
    <div class="target-control">
      <ComboBox
        @content={{this.deleteTargets}}
        @value={{this.deleteTarget}}
        @onChange={{action (mut this.deleteTarget)}}
      />
    </div>
  </:body>
  <:footer>
    <DButton
      class="btn-primary"
      @action={{action "delete"}}
      @label={{this.btnLabel}}
      disabled={{this.destroying}}
    />
    <DButton
      class="btn-danger"
      @label="cancel"
      @action={{action "cancel"}}
      disabled={{this.destroying}}
    />
    <ConditionalLoadingSpinner @condition={{this.destroying}} @size="small" />
  </:footer>
</DModal>