<DModal
  class="events-filters-modal"
  @closeModal={{@closeModal}}
  @title={{i18n "admin.events.filters.label"}}
>
  <:body>
    {{#if hasFilters}}
      <table class="filters">
        <thead>
          <th>{{i18n "admin.events.filter.query_column.label"}}</th>
          <th>{{i18n "admin.events.filter.query_operator.label"}}</th>
          <th>{{i18n "admin.events.filter.query_value.label"}}</th>
          <th></th>
        </thead>
        <tbody>
          {{#each model.filters as |filter|}}
            <EventFilterRow
              @filter={{filter}}
              @removeFilter={{action "removeFilter"}}
            />
          {{/each}}
        </tbody>
      </table>
    {{/if}}
    <DButton
      @action={{action "addFilter"}}
      @icon="plus"
      @class="add-filter"
      @label="admin.events.filters.add.label"
      @title="admin.events.filters.add.title"
    />
  </:body>
  <:footer>
    <DButton
      @class="btn-primary"
      @action={{@closeModal}}
      @label="admin.events.filters.done.label"
      @title="admin.events.filters.done.title"
    />
  </:footer>
</DModal>